<div class="container-fluid justify-content-center">

  <h1 class="">Libros</h1>
  <div class=" table-responsive ">


    <table class="table table-danger table-striped table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Autor</th>
          <th>Tiulo</th>
          <th>Isbn</th>
          <th>Edad</th>
          <th>Categoria</th>
          <th>CantidadReservado</th>
          <th>Url_Imagen</th>
          <th>Descripcion</th>
          <th>Disponible</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr class="align-middle" *ngFor="let libro of libros; let counter=index">
          <td name="id" ngDefaultControl (click)="openDialog(libro.id,'id',counter)"  [(ngModel)]="libro.id">{{libro.id}}</td>
          <td name="autor" ngDefaultControl  [(ngModel)]="libro.autor" (click)="openDialog(libro.autor,'autor',counter)">{{libro.autor}}</td>
          <td>{{libro.titulo}}</td>
          <td>{{libro.isbn}}</td>
          <td>12</td>
          <td>Terror</td>
          <td>31</td>
          <td>img.png</td>
          <td>Un mundo ideal por el bootcamp que tienes que trabajar con bootstrap y es una caca
            Un mundo ideal por el bootcamp que tienes que trabajar con bootstrap y es una caca
            Un mundo ideal por el bootcamp que tienes que trabajar con bootstrap y es una caca
            Un mundo ideal por el bootcamp que tienes que trabajar con bootstrap y es una caca
            Un mundo ideal por el bootcamp que tienes que trabajar con bootstrap y es una caca
            Un mundo ideal por el bootcamp que tienes que trabajar con bootstrap y es una caca
          </td>
          <td>No Disponible</td>
          <td class="col-1"><button type="button" class="btn btn-success me-2 mb-1 w-100 "><i class="bi bi-pencil-square"></i>
            Editar</button> <button type="button" class="btn btn-danger me-2 w-100"><i
              class="bi bi-eraser-fill"></i>Remove</button></td>
        </tr>

      </tbody>

    </table>

  </div>
  <ol>
    <li>
      <mat-form-field appearance="fill">
        <mat-label>What's your name?</mat-label>
        <input matInput [(ngModel)]="name">
      </mat-form-field>
    </li>
    <li>
      <button mat-raised-button (click)="openDialog('','',1)">Pick one</button>
    </li>
    <li *ngIf="autor">
      You chose: <i>{{autor}}</i>
    </li>
  </ol>


</div>
