<div class="container-fluid  componente">

  <div class="row featurette  d-flex justify-content-center">

    <div class="col-md-7">

      <div class="headings d-flex justify-content-between align-items-center mb-3">
        <h5>Sección de comentarios</h5>

      </div>

      <div class="card p-3">

        <div class="d-flex justify-content-between align-items-center">

          <div class="col-md-8 user d-flex flex-row align-items-center">

            <span><small class="col-md-2 font-weight-bold" id="author">Adrià Queralt</small> <small
                class="font-weight-bold"> Libro 100% recomendado!</small></span>

          </div>
          <small>2 days ago</small>
        </div>

      </div>

      <div class="card p-3 mt-2">

        <div class="d-flex justify-content-between align-items-center">

          <div class="user d-flex flex-row align-items-center">

            <span><small class="font-weight-bold" id="author">Jose Marin</small> <small class="font-weight-bold"> Lo
                volvería a leer otra vez!</small></span>

          </div>
          <small>2 days ago</small>
        </div>

      </div>

      <div class="card p-3 mt-2">

        <div class="d-flex justify-content-between align-items-center">

          <div class="user d-flex flex-row align-items-center">

            <span><small class="font-weight-bold" id="author">Marc Padrell</small> <small class="font-weight-bold"> No me
                ha gustado mucho...</small></span>

          </div>
          <small>2 days ago</small>
        </div>

      </div>

    </div>

  </div>
