<div class="container-fluid  align-item-center">
  <div class="d-flex flex-row justify-content-center align-content-center">

    <!-- select-->
    <div class="col-3">
      <select class="form-select" id="option" aria-label="Default select example" [(ngModel)]=valorSelected>
        <option disabled selected>Selecciona tu libro</option>
        <option *ngFor="let libro of librosUserLogged; let counter = index" value="{{counter}}">{{libro.titulo}}</option>

      </select>
    </div>
  </div>


  <!-- libro que quieres-->
  <div class="d-flex flex-row justify-content-center align-content-center">

    <div class="card text-center m-4">

      <div class="mt-3" *ngIf="librosUserLogged[valorSelected].url_img != ''; else noimg">
        <img src="{{librosUserLogged[valorSelected].url_img}}"
          id="book-img" class="img-fluid rounded shadow-lg" width="200">
      </div>
      <ng-template #noimg>
        <div class="mt-3">
          <img src="../../../assets/img/noimg.png"
            id="book-img" class="img-fluid rounded shadow-lg" width="200">
        </div>
      </ng-template>
      <span class="name mb-1 mt-3 fw-500">{{librosUserLogged[valorSelected].autor}}</span>
      <small class="text-black-50">Propietario: {{librosUserLogged[valorSelected].usuario.username}}</small>
      <small class="text-black-50 font-weight-bold">ISBN: {{librosUserLogged[valorSelected].isbn}}</small>

      <div class="rate py-3 text-white mt-3">

        <h4 class="mb-0">Tu libro</h4>

      </div>
    </div>
    <!-- img-->
    <div class="text-center">
      <button class="btn"> <img src="../../assets/img/flechas.png" id="flechas" class="img-fluid"></button>
    </div>
    <!-- tu escogido-->
    <div class="card text-center m-4">

      <div class="mt-3">
        <img src="{{data.data.url_img}}" id="book-img" class="img-fluid rounded shadow-lg" width="200">
      </div>

      <span class="name mb-1 mt-3 fw-500">{{data.data.autor}}</span>
      <small class="text-black-50">Propietario: {{data.data.usuario.username}}</small>
      <small class="text-black-50 font-weight-bold">ISBN: {{data.data.isbn}}</small>

      <div class="rate py-3 text-white mt-3">

        <h4 class="mb-0">Su libro</h4>

      </div>

    </div>

  </div>

</div>
