<div class="container-fluid  componente">

  <div class="card row flex-row p-4 featurette m-5 d-flex justify-content-center card">
    <div class="col-lg-3 order-lg-1 mt-2">
      <img src="../../../assets/img/harry.jpg" id="book-img" class="card-img rounded shadow-lg" alt="">
      <form [formGroup]="starForm" (ngSubmit)="botoSubmit();">
        <div class="rating mt-3 justify-content-center align-content-center">
          <input type="radio" formControlName="rating" name="rating" value='5' id="5" [attr.disabled]="false"><label
            for="5">☆</label>
          <input type="radio" formControlName="rating" name="rating" value='4' id="4" [attr.disabled]="false"><label
            for="4">☆</label>
          <input type="radio" formControlName="rating" name="rating" value='3' id="3" [attr.disabled]="false"><label
            for="3">☆</label>
          <input type="radio" formControlName="rating" name="rating" value='2' id="2" [attr.disabled]="false"><label
            for="2">☆</label>
          <input type="radio" formControlName="rating" name="rating" value='1' id="1" [attr.disabled]="false"><label
            for="1">☆</label>
        </div>
      </form>
    </div>
    <div class="mx-5 col-lg-8 order-lg-2">
      <h2>Harry Potter and the Sorcers Stone</h2>
      <h4>J.K. Rowling</h4>
      <h4>978-3-16-148410-0</h4>
      <p id="cat" style="display:block">Categoria: Realismo mágico</p>
      <p id="cat" style="display:block">Edad: +5 años</p>
      <p id="cat" style="display:block">20 veces usado!</p>
      <p id="disp" style="display:block">Disponible: Si / NO</p>
      <div class="col-md-2 d-flex">
        <button type="submit"  class="btn px-4 button-t-prestamos">Intercambiar</button>
        <span><span><span></span></span></span>
        <button type="submit"  class="btn px-4 button-t-prestamos">Reservar</button>
      </div>
      <span>
        <h4>Descripción:</h4>
        <p style="border:2px; border-style:solid; border-color:#F8BBd0; padding: 1em; text-align: justify;">
          A dazzling new edition of J.K. Rowling's Harry Potter and the Sorcerer's Stone, fully
          illustrated in brilliant color and featuring exclusive interactive paper craft elements,
          including a foldout Hogwarts letter and more!
          In this stunning new edition of Harry Potter and the Sorcerer's Stone, experience the story as
          never before. J.K. Rowling's complete and unabridged text is accompanied by full-color
          illustrations on nearly every page and eight exclusive, interactive paper craft elements:
          Readers will open Harry's Hogwarts letter.</p>
      </span>
      <div class="d-flex justify-content-center">
        <button type="submit"  class="btn px-4 button-t-prestamos">Valorar</button>
      </div>
    </div>
  </div>

  <div class="row featurette  d-flex justify-content-center">

    <div class="col-md-7">

      <div class="headings d-flex justify-content-between align-items-center mb-3">
        <h5>Sección de comentarios</h5>

      </div>

      <div class="card p-3">

        <div class="d-flex justify-content-between align-items-center">

          <div class="col-md-8 user d-flex flex-row align-items-center">

            <span><small class="col-md-2 font-weight-bold" id="author">Adrià Queralt</small> <small
                class="font-weight-bold">Libro 100% recomendado!</small></span>

          </div>
          <small class="col-md-2">2 days ago</small>
        </div>

      </div>

      <div class="card p-3 mt-2">

        <div class="d-flex justify-content-between align-items-center">

          <div class="user d-flex flex-row align-items-center">

            <span><small class="font-weight-bold" id="author">Jose Marin</small> <small class="font-weight-bold">Lo
                volvería a leer otra vez!</small></span>

          </div>
          <small>2 days ago</small>
        </div>

      </div>

      <div class="card p-3 mt-2">

        <div class="d-flex justify-content-between align-items-center">

          <div class="user d-flex flex-row align-items-center">

            <span><small class="font-weight-bold" id="author">Marc Padrell</small> <small class="font-weight-bold">No me
                ha gustado mucho...</small></span>

          </div>
          <small>2 days ago</small>
        </div>

      </div>

      <div class="card p-3 mt-2 mb-5">

        <div class="d-flex justify-content-between align-items-center">

          <div class="user d-flex flex-row align-items-center">

            <span><small class="font-weight-bold" id="author">AJose Antonio</small> <small
                class="font-weight-bold">Necesito la continuación YA!</small></span>

          </div>
          <small>2 days ago</small>
        </div>

      </div>

      <div class="card p-3 mt-2 mb-5">

        <div class="d-flex justify-content-between align-items-center">

          <div class="user d-flex flex-row align-items-center">

            <span><small class="font-weight-bold" id="author">AJose Antonio</small> <small
                class="font-weight-bold">Necesito la continuación YA!</small></span>

          </div>
          <small>2 days ago</small>
        </div>

      </div>
      <div class="card p-3 mt-2 mb-5">

        <div class="d-flex justify-content-between align-items-center">

          <div class="user d-flex flex-row align-items-center">

            <span><small class="font-weight-bold" id="author">AJose Antonio</small> <small
                class="font-weight-bold">Necesito la continuación YA!</small></span>

          </div>
          <small>2 days ago</small>
        </div>

      </div>
      <div class="card p-3 mt-2 mb-5">

        <div class="d-flex justify-content-between align-items-center">

          <div class="user d-flex flex-row align-items-center">

            <span><small class="font-weight-bold" id="author">AJose Antonio</small> <small
                class="font-weight-bold">Necesito la continuación YA!</small></span>

          </div>
          <small>2 days ago</small>
        </div>

      </div>
      <div class="card p-3 mt-2 mb-5">

        <div class="d-flex justify-content-between align-items-center">

          <div class="user d-flex flex-row align-items-center">

            <span><small class="font-weight-bold" id="author">AJose Antonio</small> <small
                class="font-weight-bold">Necesito la continuación YA!</small></span>

          </div>
          <small>2 days ago</small>
        </div>

      </div>
      <div class="card p-3 mt-2 mb-5">

        <div class="d-flex justify-content-between align-items-center">

          <div class="user d-flex flex-row align-items-center">

            <span><small class="font-weight-bold" id="author">AJose Antonio</small> <small
                class="font-weight-bold">Necesito la continuación YA!</small></span>

          </div>
          <small>2 days ago</small>
        </div>

      </div>
      <div class="card p-3 mt-2 mb-5">

        <div class="d-flex justify-content-between align-items-center">

          <div class="user d-flex flex-row align-items-center">

            <span><small class="font-weight-bold" id="author">AJose Antonio</small> <small
                class="font-weight-bold">Necesito la continuación YA!</small></span>

          </div>
          <small>2 days ago</small>
        </div>

      </div>
      <div class="card p-3 mt-2 mb-5">

        <div class="d-flex justify-content-between align-items-center">

          <div class="user d-flex flex-row align-items-center">

            <span><small class="font-weight-bold" id="author">AJose Antonio</small> <small
                class="font-weight-bold">Necesito la continuación YA!</small></span>

          </div>
          <small>2 days ago</small>
        </div>

      </div>
      <div class="card p-3 mt-2 mb-5">

        <div class="d-flex justify-content-between align-items-center">

          <div class="user d-flex flex-row align-items-center">

            <span><small class="font-weight-bold" id="author">AJose Antonio</small> <small
                class="font-weight-bold">Necesito la continuación YA!</small></span>

          </div>
          <small>2 days ago</small>
        </div>

      </div>
    </div>

  </div>

</div>
