
<!-- <link src="value.component.css"> -->
<!-- valorador estrellas-->
<div class="d-flex flex-row align-items-center m-5">

  <form [formGroup]="starForm" (ngSubmit)="botoSubmit();">
  <div class="card text-center">

    <div class="mt-4">
      <img src="https://images-na.ssl-images-amazon.com/images/I/51jyI6lYi1L._SX342_BO1,204,203,200_.jpg" width="200px">
    </div>

    <span class="name mb-1 mt-3 fw-500">J.K. Rowling</span>
    <small class="text-black-50">Dueño: Pepe</small>
    <small class="text-black-50 font-weight-bold">ISBN: QP09AA9090</small>

    <div class="rate py-3 text-white mt-3" style="background-color: #c2185cde;">

      <h6 class="mb-0">Valora el libro</h6>

      <div class="rating">
          <input type="radio" formControlName="rating" name="rating" value='5' id="5" [attr.disabled]="false"><label for="5"  >☆</label>
          <input type="radio" formControlName="rating" name="rating" value='4' id="4" [attr.disabled]="false"><label for="4"  >☆</label>
          <input type="radio" formControlName="rating" name="rating" value='3' id="3" [attr.disabled]="false"><label for="3"  >☆</label>
          <input type="radio" formControlName="rating" name="rating" value='2' id="2" [attr.disabled]="false"><label for="2"  >☆</label>
          <input type="radio" formControlName="rating" name="rating" value='1' id="1" [attr.disabled]="false"><label for="1"  >☆</label>
      </div>


      <div class="buttons px-4 mt-0">

        <button class="btn rating-submit text-white" (click)="botoSubmit()">Enviar</button>

      </div>
    </div>

  </div>



</form>


<div class="w-50 ms-5 md-form">
  <label for="form7">Comentario</label>
  <textarea type="text" id="form7" class="md-textarea md-textarea-auto form-control" mdbInput></textarea>

</div>


</div>
