
<div class="container">
  <div class="card row flex-row p-4 featurette m-5 d-flex justify-content-center card">
    <div class="col-lg-3 order-lg-1 mt-2">
      <img src="https://images-na.ssl-images-amazon.com/images/I/51ySFm9ZVvL._SX313_BO1,204,203,200_.jpg"
        class="card-img" width="200px" alt="">
    </div>
    <div class="mx-5 col-lg-8 order-lg-2">
      <h2>Reservar</h2>
      <h4>Harry Potter and the Sorcers Stone</h4>
      <hr class="mt-4">
      <!-- <h4>978-3-16-148410-0</h4>
          <p id="cat" style="display:block">Categoria: Realismo mágico</p>
          <p id="cat" style="display:block">Edad: +5 años</p>
          <p id="cat" style="display:block">20 veces usado!</p>
          <p id="disp" style="display:block">Disponible: Si / NO</p> -->
      <!-- <div class="col-md-2 d-flex">
              <button type="submit" id="change" class="btn px-4 text-white">Intercambiar</button>
              <span><span><span></span></span></span>
              <button type="submit" id="change" class="btn px-4 text-white">Reservar</button>
          </div> -->
      <div class="form-outline mb-4">
        <p id="cat" style="display:block">Comentario para el propietario...</p>
        <div class="mt-2">
          <textarea class="form-control" rows="3"></textarea>
        </div>
      </div>
      <div class="expcvv d-flex justify-content-center">

          <p class="expcvv_text">Fecha final del préstamo:</p>
          <input type="date" class="inputbox" name="exp_date" id="exp_date" required />
        </div>
      <div class="d-flex justify-content-center mt-3">
        <button type="submit" id="change" class="btn px-4 text-white">¡Enviar reserva!</button>
      </div>
    </div>
  </div>

</div>
