
<div class="login-page">
  <div class="container">
      <div class="row">
          <div class="col-lg-10 offset-lg-1">
              <h2 class="mb-3 text-center text-white">Inicia Sesión en T-PRESTAMOS</h2>
              <div class="bg-white shadow rounded">
                  <div class="row">
                      <div class="col-md-7 pe-0">
                          <div class="form-left h-100 py-4 px-5">
                              <h3>Sign in</h3>
                              <p class="text-muted mt-3">Acceder a tu cuenta</p>
                              <form action="" class="row g-4">
                                  <div class="col-12 mt-4">
                                      <label>Usuario<span class="text-danger">*</span></label>
                                      <div class="input-group">
                                          <div class="input-group-text"><i class="bi bi-lock-fill"><img src="../../../assets/img/user.png" id="tiny" alt=""></i></div>
                                          <input type="text" class="form-control" placeholder="Introducir Usuario">
                                      </div>
                                  </div>
                                  <div class="col-12">
                                      <label>Contraseña<span class="text-danger">*</span></label>
                                      <div class="input-group">
                                          <div class="input-group-text"><i class="bi bi-lock-fill"><img src="../../../assets/img/padlock.png" id="tiny" alt=""></i></div>
                                          <input type="text" class="form-control" placeholder="Introducir Contraseña">
                                      </div>
                                  </div>
                                  <div class="col-lg-9">
                                      <button type="submit"
                                          class="btn px-4 text-white me-5">Acceder</button>
                                          <button type="submit"
                                          class="btn px-4 text-white ml-2">Registrarse</button>
                                  </div>
                                  <!-- <div class="col-lg">
                                      <button type="submit"
                                          class="btn px-4 text-white float-end">Registrarse</button>
                                  </div> -->
                              </form>
                          </div>
                      </div>
                      <div class="col-md-5 ps-0 d-md-block">
                          <div class="form-right h-100 text-white p-3" style="background-color: #E91E63;">
                              <h3>Encontrarás...</h3>
                              <p style="text-align: justify;">¡El innovador sistema dedicado a la gestión de los préstamos e intercambios de libros de nuestra empresa, T-Systems, donde no solo podrás conocer nuevos libros, sino que tendrás la posibilidad de encontrar compañeros tan fanáticos por la lectura como tú!</p>
                              <div class="text-center">
                                  <img src="../../../assets/img/logo.png" width="200px" alt="">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

