<div class="container-fluid d-flex ">
  <img src="../../../assets/img/workonit.png">
  <!-- <h1 class="d-flex justify-content-start">Intercambio</h1>

  <div class="d-flex justify-content-end mb-2">
    <button class="btn btn-labeled btn-primary me-2"><span class="btn-label me-2"><i class="bi bi-arrow-clockwise"
          (click)="refresh()"></i></span>Refrescar</button>
  </div>

<div class=" table-responsive ">


  <table class="table table-danger table-striped table-hover">
    <thead>
      <tr>
        <th class="col-1">#</th>
        <th class="col-1">Fecha-Solicitud</th>
        <th class="col-1">Fecha-estado-final</th>
        <th class="col-1">Estado</th>
        <th class="col-1">Otro propietario</th>
        <th class="col-1">Tu libro</th>
        <th class="col-1">Su libro</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let intercambioDelPropietarioLoggeado of intercambiosDelPropietarioLoggeado">
        <td class="col-1" name="id"ngDefaultControl [(ngModel)]="intercambioDelPropietarioLoggeado.id">{{intercambioDelPropietarioLoggeado.id}}</td>
        <td class="col-1" name="fecha" ngDefaultControl [(ngModel)]="intercambioDelPropietarioLoggeado.fecha_solicitud">{{intercambioDelPropietarioLoggeado.fecha_solicitud}}</td>
        <td class="col-1">22-22-22</td>
        <td class="col-1">22-22-22</td>
        <td class="col-1"></td>
        <td class="col-1"></td>
        <td class="col-1"></td>

      </tr>

    </tbody>


  </table>


</div> -->
</div>
