<div class="container-fluid   justify-content-center">
  <h1 class="">Prestamos</h1>
  <h2>Headers con '!!' es para recordar que hacen referencia a otra tabla</h2>
  <div class=" table-responsive ">


    <table class="table table-danger table-striped table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Estado</th>
          <th>Duracion Reserva(días)</th>
          <th>Fecha Inicio</th>
          <th>Fecha Fin</th>
          <th>Libro Prestado!!</th>
          <th>Dueño Libro!!</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr class="align-middle">
          <td>1</td>
          <td>Pendiente</td>
          <!--'pendiente','aceptado','cancelado'-->
          <td>9</td>
          <td>22/02/2022</td>
          <td>22/11/2022</td>
          <td>Sapos al poder</td>
          <td>Pepe el que lo ve todo</td>
          <td class="col-1"><button type="button" class="btn btn-success me-2 mb-1 w-100 "><i class="bi bi-pencil-square"></i>
              Editar</button> <button type="button" class="btn btn-danger me-2 w-100"><i
                class="bi bi-eraser-fill"></i>Remove</button></td>
        </tr>
        <tr class="align-middle">
          <td>1</td>
          <td>Pendiente</td>
          <!--'pendiente','aceptado','cancelado'-->
          <td>9</td>
          <td>22/02/2022</td>
          <td>22/11/2022</td>
          <td>Sapos al poder</td>
          <td>Pepe el que lo ve todo</td>
          <td class="col-1"><button type="button" class="btn btn-success me-2 mb-1 w-100 "><i class="bi bi-pencil-square"></i>
              Editar</button> <button type="button" class="btn btn-danger me-2 w-100"><i
                class="bi bi-eraser-fill"></i>Remove</button></td>
        </tr>
        <tr class="align-middle">
          <td>1</td>
          <td>Pendiente</td>
          <!--'pendiente','aceptado','cancelado'-->
          <td>9</td>
          <td>22/02/2022</td>
          <td>22/11/2022</td>
          <td>Sapos al poder</td>
          <td>Pepe el que lo ve todo</td>
          <td class="col-1"><button type="button" class="btn btn-success me-2 mb-1 w-100 "><i class="bi bi-pencil-square"></i>
              Editar</button> <button type="button" class="btn btn-danger me-2 w-100"><i
                class="bi bi-eraser-fill"></i>Remove</button></td>
        </tr>
      </tbody>


    </table>


  </div>
</div>
