<div class="margintop ps-2" id="barralateral">

  <ul class="nav align-items-center w-100 mt-4">

    <li class="d-block w-100">
      <a id="cuenta" class="nav-link px-0 align-items-center" (click)="sendMessage('0')">
        <i class="bi bi-shield-check"></i><span class="ms-1 d-none d-md-inline">Perfil</span> </a>
    </li>
    <div id="barra-lateral-admin-items" class="w-100">
      <li class="d-block w-100">
        <a id="clientes" class="nav-link px-0 align-items-center" (click)="sendMessage('1')">
          <i class="bi bi-person-fill"></i><span class="ms-1 d-none d-md-inline">Libros</span> </a>
      </li>

      <li class="d-block w-100">
        <a id="empresas" class="nav-link px-0 align-items-center" (click)="sendMessage('2')">
          <i class="bi bi-briefcase"></i><span class="ms-1 d-none d-md-inline">Intercambiar</span></a>
      </li>
      <li class="d-block w-100">
        <a id="hoteles" class="nav-link px-0 align-items-center" (click)="sendMessage('3')">
          <i class="bi bi-star"></i><span class="ms-1 d-none d-md-inline">Prestamos</span></a>
      </li>
      <li class="d-block w-100">
        <a id="reservas" class="nav-link px-0 align-items-center" (click)="sendMessage('4')">
          <i class="bi bi-book"></i><span class="ms-1 d-none d-md-inline">Valoraciones</span></a>
      </li>
    </div>



  </ul>

</div>
