.t-prestamos-sidebar-main {
  height: 100vh;
  min-height: 100%;
  overflow-x: none;
  /* overflow-y: none; */
  scrollbar-width: none;
}

.scrollarea {
  overflow-y: auto;
}
/* :root
{
    --purple: #E91E63;
    --white: #ffff;
    --white2: rgba(235, 225, 225, 0.404);
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
    --purple2: rgba(110, 5, 5, 0);
    --pink2: #ff4081;
    --dark-primari-color: #C2185B;
    --light-primari-color: #F8BBD0;
} */
/* .t-prestamos-sidebar.active{
  width: 80px;
} */
.t-prestamos-sidebar ul{
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 100%;
  height: 100vh;
}
.t-prestamos-sidebar ul li{
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.t-prestamos-sidebar{
  background: var(--pink2);
  /* border-left: 10px solid var(--pink2); */
  transition: 0.5s;
  height: 100%;
  /* min-width: 942px; */
}

.t-prestamos-sidebar ul li.hovered,
.t-prestamos-sidebar ul li:hover{
    background: var(--white);
}
.t-prestamos-sidebar ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}
.t-prestamos-sidebar ul li:hover a,
.t-prestamos-sidebar ul li.hovered a{
    color: var(--purple);
}
.t-prestamos-sidebar ul li:hover a::before,
.t-prestamos-sidebar ul li.hovered a::before{
    content: '';
    position: absolute;
    right: -23px;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}
.t-prestamos-sidebar ul li:hover a::after,
.t-prestamos-sidebar ul li.hovered a::after{
    content: '';
    position: absolute;
    right: -23px;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}
