<link src="sidebar.component.css">
<div class="container-f">
  <div class="navigation">
      <ul>
          <li>
              <a href="#">
                  <span class="title">Categorias</span>
              </a>
          </li>
          <li>
              <a href="#">
                  <span class="title">Ficción</span>
              </a>
          </li>
          <li>
              <a href="#">
                  <span class="title">Infantil</span>
              </a>
          </li>
          <li>
              <a href="#">
                  <span class="title">Romance</span>
              </a>
          </li>
          <li>
              <a href="#">
                  <span class="title">Comedia</span>
              </a>
          </li>
      </ul>
  </div>
</div>
