a {
  text-decoration: none;
}

.card {
  border: none;
  box-shadow: 5px 6px 6px 9px #e9ecef;
  border-radius: 12px;
}


#cat {
  font-size: 20px;
  margin: 0px;
}

#disp {
  font-size: 20px;
}

#author {
  color: #c2185cde;
}

#isbn {
  margin-left: 100px;
}

.form-right i {
  font-size: 100px;
}

/* #rating {
  margin-left: 80px;
  padding-left: 18px;
} */

#tiny {
  padding-bottom: 3px;
  width: 17px;
}

label {
  padding-bottom: 2px;
  font-size: 18px;
}

span {
  margin-left: 2px;
}

#change {
  background-color:  var(--light-primari-color);
  color: var(--purple);
}

#change:hover {
  background-color: var(--dark-primari-color);
  margin-left: 1px;
  color: var(--white);
}

body {
  background-color: #f7f6f6;
}

.card {

  border: none;
  box-shadow: 5px 6px 6px 2px #e9ecef;
  border-radius: 4px;
}


.dots {

  height: 4px;
  width: 4px;
  margin-bottom: 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.badge {

  padding: 7px;
  padding-right: 9px;
  padding-left: 16px;
  box-shadow: 5px 6px 6px 2px #e9ecef;
}

.user-img {

  margin-top: 4px;
}

#activo{
  margin-right: .15em;
}

.check-icon {

  font-size: 17px;
  color: #c3bfbf;
  top: 1px;
  position: relative;
  margin-left: 3px;
}

.form-check-input{
 border-color: #6c757d;
}
.form-check-input:hover{
  background-color: var(--light-primari-color);


}
.form-check-input:checked{
  background-color: var(--pink2);
  border-color: var(--white);

}

.input-group-text{
  background-color: var(--light-primari-color);
  border-color: #6c757d;

}

.form-check-input:focus {
  box-shadow: none;
}


.icons i {

  margin-left: 8px;
}

.reply {

  margin-left: 12px;
}

.reply small {

  color: #b7b4b4;

}


.reply small:hover {

  color: green;
  cursor: pointer;

}

#user-profile-img
{
 width: 25vh;
 height: 25vh;
}
