.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
  font-size: 3.5rem;
}
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}
.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.img-brand{
  width: 90px;
  height: 72px;
}
.navbar{
  background: var(--pink2);
}
.navbar ul li a{
  position: relative;
  display: block;
  height: 72px;
  display: flex;
  text-decoration: none;
  color: var(--t-prestamos-white);
  margin-top: 15px;
}
.navbar ul li:hover a,
.navbar ul li.hovered a{
  color: var(--dark-primari-color);
}
.navbar ul li a .icon{
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 70px;
  text-align: center;
}
.navbar ul li a .icon ion-icon{
  font-size: 1.75em;
}
.navbar ul li a .icon i{
  font-size: 1.5em;
}

.navbar ul li a .title{
  position: relative;
  display: block;
  font-size: 16px;
  padding: 0 10px;
  height: 72px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}


/* curve outside */
@media (min-width: 768px){
.navbar ul li:hover a::before,
.navbar ul li.hovered a::before{
  content: '';
  position: absolute;
  top: -28px;
  left: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 13px var(--white);
  pointer-events: none;
}

.navbar ul li:hover a::after,
.navbar ul li.hovered a::after{
  content: '';
  position: absolute;
  bottom: 50px;
  right: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: -35px -35px 0 12px var(--white);
  pointer-events: none;
}
.navbar ul li{
  position: relative;
  height: 72px;
  list-style: none;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

}
.navbar ul li.hovered,
.navbar ul li:hover{
  background: var(--white);
}
}
.nav-item{
  vertical-align: middle;
}
.btn{
  background-color:  var(--light-primari-color);
  color: var(--purple);
}

.btn:hover{
  background-color: var(--dark-primari-color);
    margin-left: 1px;
    color: var(--white);
}

input#search {
  background-color: var(--light-primari-color);
  color: var(--dark-primari-color);
  background-image: url(../../../assets/img/search-s.png);
  background-repeat: no-repeat;
  background-position: 97% 50%;
}
.bg-light, .p-5, .rounded
{
  min-height: 75rem;
  padding-top: 4.5rem;
}
