<div class="container-fluid ">
<nav class="navbar navbar-expand-md navbar-dark fixed-top shadow-lg text-white pt-0  px-4">

    <a class="navbar-brand nav-link py-0" routerLink="/sidebarhome">
        <img src="../../../assets/img/logo-l.png" alt="T-Prestamos logo" class="img-brand">
      </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-md-0 align-bottom">
        <li class="nav-item title">
          <a class="nav-link text-center " aria-current="page" routerLink="/sidebarhome">Home</a>
        </li>
        <li class="nav-item title">
          <a class="nav-link text-center text-nowrap"*ngIf="isLoggedIn===false" routerLink="/signin">{{logAvailable}}</a>
        </li>
        <li class="nav-item title">
          <a class="nav-link text-center text-nowrap" (click)="logout()" *ngIf="isLoggedIn===true">{{logAvailable}}</a>
        </li>
        <li class="nav-item title">
          <a class="nav-link text-center text-nowrap"  routerLink="/signup">Sign Up</a>
        </li>
        <li class="nav-item title">
          <a class="nav-link text-center" routerLink="/sidebarandcontent">Perfil</a>
        </li>
        <li class="nav-item title">
          <a class="nav-link text-center" routerLink="/profileuser">!profileUser!</a>
        </li>
        <li class="nav-item title">
          <a class="nav-link text-center" routerLink="/bookcomment">!bookcomment!</a>
        </li>
        <li class="nav-item title">
          <a class="nav-link text-center" routerLink="/bookdetails">!bookdetails!</a>
        </li>
        <li class="nav-item title">
          <a class="nav-link text-center" routerLink="/exchange">!exchange!</a>
        </li>
        <li class="nav-item title">
          <a class="nav-link text-center" routerLink="/loan">!loan!</a>
        </li>
        <li class="nav-item title">
          <a class="nav-link text-center" routerLink="/value">!value!</a>
        </li>

        <li class="nav-item title">
          <a class="nav-link text-center" routerLink="/sidebar">!sidebar!</a>
        </li>
        <li class="nav-item title">
          <a class="nav-link text-center" routerLink="/sidebarandcontent">!sidecontent!</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" id="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-danger button-t-prestamos" type="submit">Buscar</button>
      </form>
    </div>

</nav>
</div>
<!-- <main class="container">
<div class="bg-light p-5 rounded">
<h1>Navbar example</h1>
<p class="lead">This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll, it will remain fixed to the top of your browser’s viewport.</p>
<a class="btn btn-lg btn-primary text-dark" role="button">View navbar docs &raquo;</a>
</div>
</main> -->
