
<div class="login-page ">
  <div class="container ">
      <div class="row d-flex justify-content-center">
          <div class="col-sm-5 offset-sm">
              <h2 class="mb-2 text-center text-white">Registro en T-PRESTAMOS</h2>
              <div class="bg-white shadow rounded">
                  <div class="row">
                      <div class="col-sm pe-0">
                          <div class="form-left h-100 py-4 px-5">
                              <h3>Sign up</h3>
                              <form class="needs-validation" novalidate>
                                  <div class="row g-2">
                                      <div class="col-lg-6">
                                          <label for="firstName" class="form-label">Nombre</label>
                                          <input type="text" class="form-control" id="firstName"
                                              placeholder="Nombre" name="username" value="" required [(ngModel)]="usuario.username" (focusout)="pushed1Time('username')">
                                              <div *ngIf="!controlForm(usuario.username, true) && pushedUsername != 0 ">
                                                <div class="alert alert-danger p-2 mt-1" role="alert">
                                                  Introduce un nombre válido.
                                                </div>
                                              </div>

                                      </div>

                                      <div class="col-lg-6">
                                            <label for="firstName" class="form-label">Fecha nacimiento</label>
                                            <input type="date" class="form-control " name="exp_date" id="exp_date" required [(ngModel)]="fecha_nacimiento" (focusout)="pushed1Time('edad')" />

                                          <div *ngIf="fecha_nacimiento == null && pushedEdad != 0">
                                                <div class="alert alert-danger p-2 mt-1" role="alert">
                                                  Introduce una fecha válida.
                                                </div>
                                              </div>

                                      </div>

                                      <div class="col-lg-12">
                                          <label for="email" class="form-label">Email</label>
                                              <input type="text" class="form-control" id="email" name="email"
                                                  placeholder="ejemplo@ejemplo.com" required [(ngModel)]="usuario.email" (focusout)="pushed1Time('email')">
                                                  <div *ngIf=" controlEmail(usuario.email) && pushedEmail != 0">
                                                    <div class="alert alert-danger p-2 mt-1" role="alert">
                                                      Introduce un correo válido.
                                                    </div>
                                                  </div>

                                      </div>

                                      <div class="col-md-12 mb-2">
                                          <label for="password" class="form-label">Contraseña</label>
                                          <input type="password" class="form-control" id="password" name="pwd1"
                                              placeholder="Contraseña" required [(ngModel)]="pwd1" (focusout)="pushed1Time('pwd1')">
                                      </div>

                                      <div class="col-md-12 mb-2">
                                          <label for="repeatp" class="form-label">Repetir contraseña</label>
                                          <input type="password" class="form-control" id="repeatp" name="pwd2"
                                              placeholder="Repetir contraseña" required [(ngModel)]="pwd2" (focusout)="pushed1Time('pwd2')">
                                              <div *ngIf="!controlPwd() && pushedPassword2 != 0 ">
                                                <div class="alert alert-danger p-2 mt-1" role="alert">
                                                  La password no coincide.
                                                </div>
                                              </div>
                                      </div>
                                      <button class="w-100 text-white btn btn-md button-t-prestamos" *ngIf="controlFormulario(); else controlFormularioFalse" (click)="submitForm()">Registrarse</button>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<ng-template #controlFormularioFalse>
  <button  class="w-100 text-white btn btn-md button-t-prestamos" disabled>Registrarse</button>
</ng-template>
