<div class="login-page ">
  <div class="container ">
      <div class="row d-flex justify-content-center">
          <div class="col-sm-5 offset-sm">
              <h2 class="mb-2 text-center text-white">Registro en T-PRESTAMOS</h2>
              <div class="bg-white shadow rounded">
                  <div class="row">
                      <div class="col-sm pe-0">
                          <div class="form-left h-100 py-4 px-5">
                              <h3>Sign up</h3>
                              <form class="needs-validation" novalidate>
                                  <div class="row g-2">
                                      <div class="col-lg-6">
                                          <label for="firstName" class="form-label">Nombre</label>
                                          <input type="text" class="form-control" id="firstName"
                                              placeholder="Nombre" value="" required>
                                          <div class="invalid-feedback">
                                              Introduce un nombre válido.
                                          </div>
                                      </div>

                                      <div class="col-lg-6">
                                          <label for="lastName" class="form-label">Fecha nacimiento</label>
                                          <input type="text" class="form-control" id="lastName"
                                              placeholder="dd/mm/aaaa" value="" required>
                                          <div class="invalid-feedback">
                                              Introduce una fecha válida.
                                          </div>
                                      </div>

                                      <div class="col-md-12">
                                          <label for="username" class="form-label">Email</label>
                                          <div class="input-group has-validation">
                                              <span class="input-group-text">@</span>
                                              <input type="text" class="form-control" id="email"
                                                  placeholder="ejemplo@ejemplo.com" required>
                                              <div class="invalid-feedback">
                                                  Introduce un email válido.
                                              </div>
                                          </div>
                                      </div>

                                      <div class="col-md-12 mb-2">
                                          <label for="address" class="form-label">Contraseña</label>
                                          <input type="text" class="form-control" id="address"
                                              placeholder="Contraseña" required>
                                          <div class="invalid-feedback">
                                              Introduce una contraseña válida.
                                          </div>
                                      </div>

                                      <div class="col-md-12 mb-2">
                                          <label for="address" class="form-label">Repetir contraseña</label>
                                          <input type="text" class="form-control" id="address"
                                              placeholder="Repetir contraseña" required>
                                          <div class="invalid-feedback">
                                              Introduce una contraseña válida.
                                          </div>
                                      </div>
                                      <button class="w-100 text-white btn btn-md">Registrarse</button>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
