
a {
  text-decoration: none;
}
.login-page {
  width: 100%;
  height: 100vh;
  display: inline-block;
  display: flex;
  align-items: center;
  background-color: #c2185cde;
}
.form-right i {
  font-size: 100px;
}

#tiny{
  padding-bottom: 3px;
  width: 17px;
}

label{
  padding-bottom: 2px;
  font-size: 18px;
}

span{
  margin-left: 2px;
}

.btn{
  background-color: #FF4081;
}

.btn:hover{
  background-color: #F8BBd0;
}
.input-t-prestamos{
  margin-right: 4px;
}
.t-input-bg-email{
  background-color: var(--light-primari-color);
  color: var(--purple);
}


.container-fluid{
  /* margin-top: 100px;
  min-height: 100vh; */
}

body {
  background-color: #f7f6f6
}

img#book-img.shadow-lg{
  box-shadow: 0px 40px 24px -28px rgb(21 65 74 / 29%)!important;
  width: 270px;
  height: 395.05px;
}

mat-form-field {
  margin-right: 12px;
}

a {
  text-decoration: none;
}

.card {
  border: none;
  box-shadow: 5px 6px 6px 9px #e9ecef;
  border-radius: 12px;
}


#cat {
  font-size: 20px;
  margin: 0px;
}

#disp {
  font-size: 20px;
}

#author {
  color: #c2185cde;
}

#isbn {
  margin-left: 100px;
}

.form-right i {
  font-size: 100px;
}

/* #rating {
  margin-left: 80px;
  padding-left: 18px;
} */

#tiny {
  padding-bottom: 3px;
  width: 17px;
}

label {
  padding-bottom: 2px;
  font-size: 18px;
}

span {
  margin-left: 2px;
}

#change {
  background-color: #FF4081;
  margin-left: 1px;
}

#change:hover {
  background-color: #F8BBd0;
}



.card {

  border: none;
  box-shadow: 5px 6px 6px 9px #e9ecef;
  border-radius: 4px;
}


.product {
  object-fit: cover;
  width: 20em;
  height: 20em;
  border-radius: 100%;
}

.rightside {
  background-color: #ffffff;
  width: 35rem;
  border-bottom-right-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  padding: 1rem 2rem 3rem 3rem;
}

p {
  display: block;
  font-size: 1.1rem;
  font-weight: 400;
  margin: .8rem 0;
}

.inputbox {
  color: #030303;
  padding: 0.5rem;
  border: none;
  border: 1.5px solid rgb(211, 211, 211);
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  font-family: 'Roboto', sans-serif;
  color: #615a5a;
  font-size: 1.1rem;
  font-weight: 500;
  outline: none;
}

.expcvv {
  display: flex;
  justify-content: space-between;
  padding-top: 0.6rem;
}

.expcvv_text {
  padding-right: 1rem;
}

.expcvv_text2 {
  padding: 0 1rem;
}



#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}
/*
input[type="radio"] {
  display: none;
} */



input[type="radio"]:checked:after  {
  color: rgb(253, 38, 181);
  border-style: solid;
}


.radio-item label {
  color: #666;
  font-weight: normal;
}
[type=radio] {
  position: absolute;
  opacity: 100;
  width: 10;
  height: 10;
  background-color: #FF4081;
  }
