
<h1 mat-dialog-title>{{data.key | uppercase}}</h1>
<hr>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>valor: </mat-label>
    <div *ngIf="data.key == 'descripcion'">
      <textarea class="form-control w-100" matInput [(ngModel)]="data.data" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
  </div>

  <div *ngIf="data.key != 'descripcion'">
    <input class="w-100" matInput [(ngModel)]="data.data">
  </div>
  </mat-form-field>
</div>
<hr>
<div mat-dialog-actions class="modal-footer">
  <button class="btn btn-primary me-3" mat-button  [mat-dialog-close]="data" cdkFocusInitial>Guardar cambios</button>
  <button class="btn btn-secondary " mat-button (click)="onNoClick()">Cancelar</button>

</div>

